{{!-- Standard HTML head for all views. --}}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    {{!-- Should pass in a custom page title variable here instead. --}}
    <title>Penny Project</title>

    <meta name="author" content="Team Penny Project">
    <meta name="description" content="A Penny for Your Thoughts.">

    {{!-- Pull in global-css partial containing all css files. --}}
    {{> global-css }}
</head>
