<!-- Modal -->
<div class="modal fade" id="getStartedModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <br>
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                    <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
                    <li class=""><a href="#why" data-toggle="tab">Why?</a></li>
                </ul>
            </div>
            <div class="modal-body">
                <div id="myTabContent" class="tab-content">

                    <div class="tab-pane fade in" id="why">
                        <p>This is some text</p>
                        <p>Please contact blank for any other inquiries.</p>
                    </div>

                    <div class="tab-pane fade active in" id="signin">
                        <form class="form-horizontal">
                            <fieldset>
                                <!-- Sign In Form -->
                                <!-- Text input-->
                                <div class="control-group">
                                    <label class="control-label" for="userid">User ID:</label>
                                    <div class="controls">
                                        <input required="" id="userid" name="userid" type="text" class="form-control">
                                    </div>

                                    <!-- Password input-->
                                    <label class="control-label" for="passwordinput">Password:</label>
                                    <div class="controls">
                                        <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********">
                                    </div>

                                    <!-- Multiple Checkboxes (inline) -->
                                    <label class="control-label" for="rememberme"></label>
                                    <div class="controls">
                                        <label>
                                            <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
                                            Remember me
                                        </label>
                                    </div>

                                    <!-- Button -->
                                    <label class="control-label" for="signin"></label>
                                    <div class="controls">
                                        <button id="signin" name="signin" class="btn btn-success">Sign In</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="signup">
                        <form class="form-horizontal" action="/index" method="POST">
                            <fieldset>
                                <!-- Sign Up Form -->
                                <!-- First Name  input-->
                                <div class="control-group">
                                    <label class="control-label" for="first_name">First Name:</label>
                                    <input id="firstName" name="first_name" class="form-control" type="text" required="">
                                </div>

                                <!-- Last Name input-->
                                <div class="control-group">
                                    <label class="control-label" for="last_name">Last Name:</label>
                                    <input id="last_name" name="last_name" class="form-control" type="text" required="">
                                </div>

                                <!-- Email input-->
                                <div class="control-group">
                                    <label class="control-label" for="email">Email address:</label>
                                    <input type="email" class="form-control" id="email" name="email" required="">
                                </div>

                                <!-- UserName input-->
                                <div class="control-group">
                                    <label class="control-label" for="userid">User ID:</label>
                                    <input id="userid" name="username" class="form-control" type="text" required="">
                                </div>

                                <!-- Password input-->
                                <div class="control-group">
                                    <label class="control-label" for="password">Password:</label>
                                    <input id="password" name="password" class="form-control" type="password" placeholder="********" required="">
                                    <em>1-8 Characters</em>
                                </div>

                                <!-- Re-enter Password input-->
                                <div class="control-group">
                                    <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
                                    <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" required="">
                                </div>

                                <!-- Submit Button -->
                                <div class="control-group">
                                    <label class="control-label" for="confirmsignup"></label>
                                    <div class="controls">
                                        <button type="submit" id="confirmsignup" name="confirmsignup" class="btn btn-success">Sign Up</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </center>
            </div>
        </div>
    </div>
</div>