

h1 {
  color: white;
  text-shadow: 0px 3px 1px grey;
  font-family: 'Chewy', cursive;
  font-size: 85px;
  padding: 0;
}

.appq {
  height: 300px;;
}

.appa {
  height: 300px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
  font-size: 15px;
  font-family: 'Chewy', cursive;
}

.footer-span {
  padding: 0 250px 0 250px;
}

p {
  font-family: 'Chewy', cursive;
  font-size: 24px;
  text-shadow: 0px 1px 0px grey;
}

.nextbtn {
  height: 225px;
  width: auto;
  float: right;
}

.backbtn {
  height: 150px;
  width: auto;
  align-content: center;
}

.startbtn {
  float: right;
}

#answer-cloud {
  display: none;
  padding: 0;
}

#question-cloud {
  display: none;
  padding: 0;
}

[data-name]:hover {
  opacity: 0.5;
}
