<link rel="stylesheet" href="/public/css/answer.css">

<div class="container answer-input">
  <!-- Display the question -->
  <!-- Form to answer a question -->
  <form method="POST" action="/app" id="answer-a-question">
    <div class="form-group">
      <h1><label for="shareYourKnowledge">Share Your Knowledge</label></h1>
      <div id="question"><h2>Question here?</h2></div>
      <textarea class="form-control" rows="8" id="shareYourKnowledge" placeholder="Enter your answer ..."></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
<div>