<link rel="stylesheet" href="/public/css/app.css">
<div class="col-lg-12 text-center">
    <div class="container">
        <h1>Choose what you want to do:</h1>
        <br>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <button class="btn appq btn-primary">Questions</button>
        </div>

        <div class="col-lg-6">
          <button class="btn appa btn-success">Answers</button>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">


    <div class="col-lg-12">
        <div class="row">

            <div class="col-md-3">
                <br>
                <p><span><img src="../public/img/penny.png" alt="token" width="30px" height="30px"></span> Pennies:<span id="token-value">[value]</span></p>

            </div>
            <div class="col-md-3">
                <br>
                <p> &copy; Penny Project {{getCurrentYear}}</p>
            </div>
            <div class="col-md-3">
                <br>
                <p>Logged in as: <span id="username">[name]</span></p>
            </div>
            <div class="col-md-3">

                <button class="btn btn-danger navbar-btn btn-sm" id="sign-out" value="false">Sign Out</button>
            </div>



        </div>
    </div>

</nav>
