<link rel="stylesheet" href="/public/css/app.css">

    <div class="wrapper">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Choose what you want to do:</h1>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center" id="question-cloud">
                <a href="#"><img class="appq" src="../public/img/cloud_question.png"></a>
            </div>
            <div class="col-md-6 text-center" id="answer-cloud">
                <a href="#"><img class="appa" src="../public/img/cloud_answer.png"></a>>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li class="footer-span">Logged in as: <span id="username">AJ Ford</span></li>
                <li class="footer-span"><span><img src="../public/img/penny.png" alt="token" width="20px"></span> Pennies:<span id="token-value">10</span</li>
                <li class="footer-span"> &copy; Penny Project {{getCurrentYear}}</li>
            </ul>
        </div>
    </footer>
