<link rel="stylesheet" href="/public/css/question.css">

<div class="container question-input">
  <!-- Form to ask a question -->
  <form method="POST" action="/app" id="ask-a-question">
    <div class="form-group">
      <h1><label for="whatsOnYourMind">What's on your mind?</label></h1>
      <textarea class="form-control" rows="5" id="whatsOnYourMind" name="question" placeholder="Enter your question ..."></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
<div>